
.headingcolore {
    color: #4A4A4A;
}

.fontweight {
    font-weight: 700;
    color: #4A4A4A;
}

.icon-img {
    width: 32px;
    object-fit: contain;
}

.curiousuppor {
    background-color: #F7F7F7;
}

.container-area {
    width: 100%;
    max-width: 450px;
    margin: auto;
    height: auto;
}
.text-dark {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 18px;
    color: #4A4A4A;
}