.test-btn {
    padding: 8px 16px 8px 16px;
    gap: 10px;
    border-radius: 8px 8px 8px 8px;
    opacity: 0px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
}

.test-title {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: center;
    margin-bottom: 22px;
    gap:22px;
}

.box{
    margin: auto;
    position: relative;
    top:30px;
}