.Admision-container {
    height: Hug (126px)px;
    left: 354px;
    padding: 32px 32px 32px 32px;
    border-radius: 8px 8px 8px 8px;
}

.custom-bg {
    background-color: #F7F7F7;
}
.pra-subtitle{
  font-weight: bold;
}