.custom-bg {
    background: var(--Grey-Faded, #F7F7F7);
    display: flex;
    width: 100%;
    max-width: 732px;
    padding: 32px;
    align-items: center;
    gap: 8px;
    margin: 0 auto;
    box-sizing: border-box;
    border-radius: 8px;
}

.subtitle-container {
    margin-top: -29px;
    margin-bottom: 32px;
}


.pra-subtitle {
    line-height: 30.6px;
}
.pra-subtitle {
    font-weight: bold;
}
/* .subtitle-container{
    margin-top: 32px;
    margin-bottom: 32px;
} */
.test-title{
    margin-bottom:"32px";
}
.user-btn{
    margin-top: 32px;
}