/* .donate-page {
    background-color: #fff;
    text-align: center;
    font-family: "Lusitana", Fallback, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.donate-page-section {
    margin: 40px 0;
}

.section-donate-title {
    margin-top: 80px;
    font-size: 32px;
    line-height: 42px;
    font-family: Lusitana;
    font-weight: 700;
}
  
.donate-underliner{
  border: 1px solid #F05F40;
  background-color: #F05F40;;
  width: 60px;
  align-items: center;
  margin-left: 805px;
}

.donation-details-container {
    text-align: left;
    margin: 25px 448px 0 583px;
}

.ac-details {
    font-weight: 500;
}

.donate-liner {
    border: 1px solid #CDCDCD;
    background-color: #CDCDCD;
    width: 400px;
    align-items: center;
    margin-left: 630px;
}

.donatation-payment {
    font-weight: 500;
    font-size: 17.9px;
    line-height: 28px;
    margin: 40px 425px 0 505px;
}

.donate-page-button{
    background-color: #F05F40;
    border: 1px solid #F05F40;
    color: #fff;
    padding: 10px 13px 10px 13px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 25px;
}

.donate-button-container {
    padding-left: 115px;
}

.donate-button {
    background-color: #fff;
    border: 1px solid #F05F40;
    color: #F05F40;
    padding: 10px 13px 10px 13px;
    border-radius: 5px;
    font-weight: 500;
    margin-top: 25px;
    margin-left: 13px;
}

.donate-button:hover {
    color: #fff;
    background-color: #F05F40;
    border: 1px solid #F05F40;
}

.about-donation {
    font-weight: 400;
    color: #818181;
    font-family: Nunito Sans;
    font-size: 14px;
    line-height: 20px;
    margin: 27px 665px 70px 690px;
}

.donate-bg {
    background-image: url('./assets/bg.png');
    height: 910px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 1px;
}

.donate-title {
    margin-top: 110px;
    font-size: 32px;
    line-height: 42px;
    font-family: Lusitana;
    font-weight: 700;
}

.donate-bg2 {
    margin-top: 150px;
}

.Ellipse {
    position: absolute;
    margin-top: 190px;
    margin-left: 70px;
}

.number {
    color: #F05F40;
    font-size: 80px;
    font-family: Lusitana;
    font-weight: 700;
}

.jobs {
    position: absolute;
    top: 950px;
    left: 300px;
}

.online-students {
    position: absolute;
    top: 950px;
    left: 1130px;
}

.states {
    margin-top: 70px;
}

.donate-content {
    font-weight: 400;
    font-size: 17.9px;
    line-height: 28px;
    margin: 60px 425px 0 505px;
}

.hiring-page-button {
    background-color: #F05F40;
    border: #F05F40;
    color: #fff;
    padding: 10px 45px 10px 45px;
    border-radius: 8px;
    font-weight: 500;
    margin-top: 25px;
    letter-spacing: 1px;
}

.link {
    color: #F05F40;
    text-decoration: underline;
}

@media screen and (max-width: 667px) {
    .donate-underliner {
      margin-left: 150px;
      width: 70px;
    }
    .donation-details-container{
        margin: 25px 8px 0 3px;
    }
    .donate-liner {
        width: 330px;
        margin-left: 20px;
    }
    .donatation-payment {
        font-size: 15px;
        line-height: 20px;
        margin: 40px 5px 0 5px;
    }
    .donate-page-button {
        padding: 10px 80px 10px 80px;
        margin-top: 3px;
    }
    .donate-content{
        margin: 35px 20px 0 25px;
        text-align: left;
        font-size: 14px;
        line-height: 20px;
    }
    .about-donation {
        margin: 35px 30px 0 35px;
    }
    .donate-title {
        margin-top: 25px;
        font-size: 22px;
        line-height: 28px;
    }   
    .donate-bg {
        height: 910px;
        padding-top: 1px;
    }
} */

.donate-page {
  background-color: #fff;
  text-align: center;
  font-family: "Lusitana", Fallback, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}
.donate-page .main-hr {
  width: 6rem;
  border: transparent;
  border-top: 3px solid #f05f40;
}
.partition-line {
  border-top: 2px solid #cdcdcd;
}

.donate-page-image-section {
  margin: 40px 0;
  background-image: url("./assets/bg.png");
  height: 730px;
  width: 100%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
  position: relative;
}
.middleImg {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.donation-impact-data h3 {
  color: var(--primary);
  font-size: 72px;
}
.donation-impact-data p {
  font-size: 18px;
}
.donation-impact-data-2 {
  margin-top: 200px !important;
}
.section-donate-title {
  margin-top: 80px;
  font-size: 32px;
  line-height: 42px;
  font-family: Lusitana;
  font-weight: 700;
}

.donation-details-container {
  text-align: left;
}

.ac-details {
  font-weight: 500;
}
.donation-details-container ul li {
  white-space: nowrap;
  margin-bottom: 10px;
}
.donate-liner {
  border: 1px solid #cdcdcd;
  background-color: #cdcdcd;
  width: 400px;
  align-items: center;
  margin-left: 10px auto;
}

.donatation-payment {
  font-weight: 500;
  font-size: 17.9px;
  line-height: 28px;
}

.donate-page-button {
  background-color: #f05f40;
  border: 1px solid #f05f40;
  color: #fff;
  padding: 10px 13px 10px 13px;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 25px;
  width: 352px;
}

.donate-button-container {
  padding-left: 115px;
}

.donate-button {
  background-color: #fff;
  border: 1px solid #f05f40;
  color: #f05f40;
  padding: 10px 13px 10px 13px;
  border-radius: 5px;
  font-weight: 500;
  margin: 25px 0 0 13px;
}

.donate-button:hover,
.donate-button:focus,
.donate-button:active {
  color: #fff;
  background-color: #f05f40 !important;
  border-color: var(--primary) !important;
  box-shadow: 0 0 0 0.2rem #f58d76 !important;
}

.about-donation p {
  font-weight: 400;
  color: #818181;
  font-family: Nunito Sans;
  font-size: 14px;
  line-height: 20px;
  margin-top: 30px;
  width: 300px;
}

.donate-bg {
  height: 847px;
  padding-top: 1px;
}

.donate-bg-image {
  position: absolute;
}

.bg-color {
  display: none;
  background-color: #fcdfd9;
  width: 375px;
  height: 100px;
}

.donate-title {
  margin: 80px 0 10px 628px;
  font-size: 32px;
  line-height: 42px;
  font-family: Lusitana;
  font-weight: 700;
}

.donation-impact-underliner {
  border: 1px solid #f05f40;
  background-color: #f05f40;
  width: 60px;
  align-items: center;
  margin-left: 805px;
}

.donate-bg2 {
  margin-top: 150px;
  margin-left: 670px;
}

.Ellipse {
  position: absolute;
  margin-top: 190px;
  margin-left: 740px;
}

.number {
  color: #f05f40;
  font-size: 80px;
  font-family: Lusitana;
  font-weight: 700;
}

.jobs {
  position: absolute;
  top: 180px;
  left: 300px;
}

.online-students {
  position: absolute;
  top: 170px;
  left: 1130px;
}

.states {
  margin-top: 70px;
  margin-left: 650px;
}

.donate-content {
  font-weight: 400;
  font-size: 17.9px;
  line-height: 28px;
}
.payment-row {
  width: 500px;
}
.account-details span {
  margin-bottom: 10px;
  font-size: 18px;
}
.hiring-page-button {
  background-color: #f05f40;
  border: #f05f40;
  color: #fff;
  padding: 10px 45px 10px 45px;
  border-radius: 8px;
  font-weight: 500;
  margin-top: 25px;
  letter-spacing: 1px;
}

.link {
  color: #f05f40;
  text-decoration: underline;
}

.contact-button {
  background-color: #f05f40;
  border: 1px solid #f05f40;
  color: #fff;
  padding: 10px 13px 10px 13px;
  border-radius: 5px;
  font-weight: 500;
  margin-top: 25px;
}
.donation-impact-data {
  flex-wrap: wrap;
}
@media screen and (max-width: 667px) {
  .donate-underliner {
    margin-left: 160px;
    width: 50px;
  }
  .middleImg {
    display: none;
  }
  .donation-impact-data {
    flex-direction: column;
    margin-block: 0 !important;
  }
  .donation-impact-data span {
    margin-block: 20px !important;
  }
  .donation-impact-data-2 {
    margin-block: 0px !important;
  }

  .donation-details-container {
    margin: 25px 8px 0 0;
  }
  .donate-liner {
    width: 330px;
    margin-left: 20px;
  }
  .donatation-payment {
    font-size: 15px;
    line-height: 20px;
    margin: 40px 5px 0 5px;
  }
  .donate-page-button {
    padding: 10px 80px 10px 80px;
    margin-top: 3px;
  }
  .donate-button-container {
    padding: 0;
  }
  .donate-button {
    margin-left: 0px;
    width: 300px;
  }
  .contact-button {
    padding: 10px 60px 10px 60px;
    margin-top: 3px;
  }
  .donate-content {
    margin: 35px 20px 0 25px;
    text-align: left;
    font-size: 14px;
    line-height: 20px;
  }
  .about-donation {
    margin: 35px 30px 0 35px;
  }
  .donate-title {
    margin: 30px 8px 15px 40px;
    font-size: 22px;
    line-height: 28px;
  }
  .donate-bg {
    display: none;
  }
  .donate-bg2 {
    display: none;
  }
  .Ellipse {
    display: none;
  }
  .number {
    color: #f05f40;
    font-size: 48px;
    font-family: Lusitana;
    font-weight: 700;
    line-height: 56px;
  }
  .jobs {
    top: 95px;
    left: 80px;
  }
  .online-students {
    top: 218px;
    left: 120px;
  }

  .states {
    margin-top: 255px;
    margin-left: 40px;
  }
  .bg-color {
    display: block;
    background-color: #fcdfd9;
    width: 375px;
    height: 456px;
  }
  .section-donate-title {
    font-size: 20px;
    line-height: 28px;
    margin: 0 10px 20px 10px;
  }
  .account-details {
    margin-left: 10px;
  }
  .account-details span {
    margin-bottom: 7px;
    font-size: 12px;
  }
}
