.ng-hiring-page {
  background-color: #fff;
  text-align: center;
  font-family: "Lusitana", Fallback, -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

.hiring-page-section {
  margin: 40px 0;
}
.hiring-page-section button {
  width: 352px;
}

.hiring-page-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
.ng-hiring-page a:hover {
  color: var(--btnHover);
}

@media screen and (max-width: 667px) {
  .hiring-page-content {
    margin: 40px 35px 0px 15px;
    font-size: 14px;
    line-height: 20px;
    text-align: left;
  }
  .hiring-page-content .section-para {
    width: 90% !important;
  }
  .hiring-section-title {
    font-size: 21px;
    line-height: 28px;
  }
  .title-underliner {
    margin-left: 150px;
    width: 70px;
  }
}
