.ng-hiring-page {
  background-color: #fff;
  text-align: center;
 }

.hiring-page-section {
  margin: 40px 0;
}
.hiring-page-section button {
  width: 352px;
}

.hiring-page-content {
  font-weight: 400;
  line-height: 28px;
}
.ng-hiring-page a:hover {
  color: var(--btnHover);
}

@media screen and (max-width: 667px) {
  .hiring-page-content {
    margin: 40px 0px;
    line-height: 20px;
    text-align: left;
  }
  .hiring-page-content .section-para {
    width: 100% !important;
    
  }
  .hiring-section-title {
    line-height: 28px;
  }
}
