@import url('https://fonts.googleapis.com/css2?family=Spectral:wght@300;400;500;600;700&display=swap');

.fontsize {
  font-family: 'Spectral', sans-serif;
  font-size: 49px;
  font-weight: 700;
}

.body1 {
  line-height: 30.6px;
}

.modal-title {
  color: red;
}

.form-control {
  height: 60px;
  border: 2px solid gray;
  border-radius: 5px;
}

.modal-dialog {
  border: 2px solid gray;
}

.link {
  color: #EB5F42;
}

.link:hover {
  color: #EB5F42;
  text-decoration: none;

}

.mt-32 {
  margin-top: 32px !important;
}

.first_column {
  margin-left: 25px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 51.5px;
}

.main_row {
  margin-top: 30px;
  margin-bottom: 20px;
}


.appoitmentbtn {
  background-color: var(--primary);
  border-color: var(--primary);
  cursor: pointer;
  transition: all ease-in 0.2s;
  color: white;
  font-weight: 700;
  height: 48px;
  font-size: 1.125rem;
  outline: none !important;

}

.women-image {
  width: 100%;
  height: 340px;
  object-fit: cover;
}

.hire-heading {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.banner-img {
  width: 100%;
  height: 650px;
  object-fit: cover;
}

.position-relative {
  position: fixed;
}

@media (max-width: 1200px) {
  .hire-heading {
    font-size: 6rem;
  }
}

@media (max-width: 992px) {
  .hire-heading {
    font-size: 5rem;
  }
}

@media (max-width: 768px) {
  .hire-heading {
    font-size: 3rem;
    top: 25%;
  }
}

@media (max-width: 576px) {
  .hire-heading {
    font-size: 2rem;
    top: 20%;
  }
}

.toast {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 470px;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background-color: #d4edda;
  color: #155724;
}

.toast-content {
  padding: 15px;
}

.content-body {
  display: flex;
}

.icon {
  font-size: 24px;
  color: #28a745;
}

@media (max-width: 767px) {
  .toast {
    width: calc(100% - 40px);
    bottom: 10px;
    right: 10px;
    padding: 10px;
  }

  .toast-content {
    padding: 10px;
  }

  .icon {
    font-size: 20px;
  }
}
