.shared-container {
    width: 100%;
    max-width: 1600px; 
    margin: 0 auto;
    padding: 0 15px;
}

.partners-data {
    width: 100%;
    margin-top: 80px;
}

.single-partner, .all-partners {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.campus-title-design {
    margin-bottom: 14px;
}

.instagram {
    width: 32px;
    height: px;
}

.course-location-page{
    margin-bottom: 40px;
}

@media (min-width: 576px) { 
    .card-columns {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5;
      column-gap: .8rem;
      orphans: 1;
      widows: 1;
    }
  }  
.programing-page{
    margin-top: 40px;
}