.course-location-page{
    margin-bottom: 40px;
}

@media (min-width: 576px) { 
    .card-columns {
      -webkit-column-count: 5;
      -moz-column-count: 5;
      column-count: 5;
      column-gap: .8rem;
      orphans: 1;
      widows: 1;
    }
  }  
.programing-page{
    margin-top: 40px;
}