
.body1 {
  line-height: 30.6px;
}

.card {
  width: 544px;
  border-radius: 8px;
  border: 1px solid #DEDEDE;
  padding: 32px;
  overflow: hidden; 
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center; 
}



.card:hover, .card:focus, .card:active {
  transform: none !important; 
  box-shadow: none !important; 
  cursor: default !important;
}

.card *:hover, 
.card *:focus, 
.card *:active {
  transform: none !important; 
  box-shadow: none !important; 
  background-color: inherit !important;
  cursor: default !important;
}


.card.h-367 {
  height: 367px;
}

.top-mar{
  margin-top: 32px;
}
.card.h-271 {
  height: 271px;
}

.card.h-175 {
  height: 175px;
}

.card-header {
  padding: 10px;
  border-bottom: none; 
  flex-shrink: 0; 
  background-color: transparent; 
}

.card-title {
  margin: 0;
  font-size: 1.25rem;
}

.card-img-wrapper {
  flex-grow: 1; 
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden; 
}



.custom-img-1 {
  height: 240px;
  width: 480px;
}

.custom-img-2,
.custom-img-3 {
  width: 480px;
  height: 144px;
}


.custom-img-2 {
  width: 480px;
  height: 251px;}

.custom-img-4{
  width: 480px;
  height: 48px;
}
@media screen and (max-width: 1700px) {
  .card {
    width: 100%;
  }
  .custom-img-1, 
  .custom-img-2,
  .custom-img-3,
  .custom-img-4{
    width: 100%;

  }
}
@media screen and (max-width: 1440px) {
  .card {
    width: 100%;
  }
  .custom-img-1, 
  .custom-img-2,
  .custom-img-3,
  .custom-img-4{
    width: 100%;

  }
}
@media screen and (max-width: 1290px) {
 .card {
    width: 100%;
  }
  .custom-img-1, 
  .custom-img-2,
  .custom-img-3,
  .custom-img-4{
    width: 100%;

  }
}
@media screen and (max-width: 1080px) {
  .card {
      width: 100%;
    }
  .custom-img-1, 
  .custom-img-2,
  .custom-img-3,
  .custom-img-4{
    width: 100%;

  }
}
@media screen and (max-width: 970px) {
  .card {
    width: 100%;
  }
  .custom-img-1, 
  .custom-img-2,
  .custom-img-3,
  .custom-img-4{
    width: 100%;

  }
}
@media screen and (max-width: 550px) {
  .card {
      width: 100%;
    }
  .custom-img-1, 
  .custom-img-2,
  .custom-img-3,
  .custom-img-4{
    width: 100%;

  }
}
