.finance-bg-img{
    background-image: url('./assets/financeImg.png');
    background-size: cover;
    background-position: center;
    min-height: 50vh;
    display: flex;
    justify-content: top;
    align-items: center;
    width: 100%;
}
