.hero-P {
  min-height: 350px;
}
.header span {
  font-family: "Nunito Sans", Arial, Helvetica, sans-serif;
}
.text-primary {
  color: var(--primary) !important;
}
.bg-bg-card-1 {
  background-color: var(--bg-card-1);
}
.bg-bg-card-2 {
  background-color: var(--bg-card-2);
}
.input {
  width: 25em;
  padding-left: 0 !important;
}
.input input {
  border-bottom: 1px solid black !important;
}
.input .btn {
  border-radius: 8px;
}
.left-P h1 {
  font-size: 2.2rem;
  margin-bottom: 0rem;
  font-weight: 700;
}
video {
  border-radius: 20px;
}
.row {
  margin-left: 0;
}
.programmers .card {
  box-shadow: 0px 1px 2px rgba(46, 46, 46, 0.06),
    0px 2px 1px rgba(46, 46, 46, 0.04), 0px 1px 5px rgba(46, 46, 46, 0.08);
  border-radius: 8px;
}
.programmers-main-video {
  min-height: 255px !important;
}.hero-P video {
  /* width: 450px; */
  height: 285px;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 100%;
  }
  .hero-P .row {
    height: 567px;
  }
  .hero-P video {
    width: 450px;
    height: 255px;
  }
  .left-P h1 {
    font-size: 2rem;
    margin-bottom: 0 rem;
    font-weight: 700;
  }
  .students .container .row {
    display: flex;
    flex-direction: column !important;
    align-items: center;
  }
  .student-video-parent {
    height: fit-content;
  }
  .students video {
    width: 500px;
  }
  .benifits .container {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  .hero-P .row {
    display: flex;
    flex-direction: column-reverse !important;
  }
  .left-P {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 0;
    margin-top: 3rem;
  }
  .student-video-parent {
    height: fit-content;
  }
  .students video {
    width: 400px;
  }
  .benifits .container {
    width: 85%;
  }
}
@media screen and (max-width: 750px) {
  .left-P h1 {
    padding-left: 1.3em;
  }
}
@media screen and (max-width: 550px) {
  .hero-P video {
    width: 400px;
    height: 225px;
  }
  .programmers-main-video {
    min-height: 204px !important;
  }
  .left-P h1 {
    padding-inline: 0.5em;
  }
  h1 {
    font-size: 1.8rem;
  }
  .student-video-parent {
    height: fit-content;
  }
  .students video {
    width: 350px;
    height: 200px;
  }
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
}
@media screen and (max-width: 430px) {
  .hero-P video {
    width: 350px;
    height: 200px;
  }
  .programmers-main-video {
    min-height: 147px !important;
    align-items: center;
  }
  .left-P h1 {
    font-size: 1.8rem;
  }
  .input {
    margin-inline: 1rem;
    width: 90%;
  }
  .test-p .card {
    min-width: 18rem;
    min-height: 14rem;
    padding-inline: 1rem;
  }
  video {
    width: 300px;
    /* height: 180px; */
  }
  h1 {
    font-size: 1.6rem;
  }
  .input .text {
    font-size: 0.9em !important;
  }
  .input .btn {
    font-size: 0.9em !important;
  }
  .input label {
    font-size: 0.9em !important;
  }
}
@media screen and (max-width: 370px) {
  .header h2 {
    font-size: 1.05em !important;
  }
  .header span {
    font-size: 0.95em !important;
  }
  .hero-P video {
    width: 260px;
  }
  .left-P h1 {
    font-size: 1.4rem;
  }
  h1 {
    font-size: 1.25rem;
  }
  .test-p .card {
    min-width: 16rem;
    min-height: 10rem;
  }
  .students video {
    width: 260px;
    height: 148px;
  }
  .hero-P video {
    width: 350px;
    height: 147px;
  }
}
