.team-page {
  background-color: #fff;
  text-align: center;
  font-family: "Lusitana", "Nunito Sans", Fallback, -apple-system,
    BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.team-section {
  margin: 40px 0;
}

.team-section-title {
  margin-top: 80px;
  font-size: 32px;
  line-height: 42px;
  font-family: Lusitana;
  font-weight: 700;
}

.team-page hr {
  width: 6rem;
  border: transparent;
  border-top: 3px solid #f05f40;
}

.team-page-content {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* width: ; */
  /* margin: 30px 425px 0 500px; */
}

.career-button {
  background-color: #f05f40;
  border: 1px solid #f05f40;
  color: #fff;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 500;
  width: 280px;
  /* width: 33%; */
  /* margin: 25px 0 0 85px; */
}

.volunteer-button {
  background-color: #fff;
  border: 1px solid #f05f40;
  color: #f05f40;
  padding: 10px 40px;
  border-radius: 5px;
  font-weight: 500;
  width: 280px;
  /* width: 33%; */
  /* margin: 25px 0 0 25px; */
}

.career-button:hover {
  color: #fff;
  background-color: #ee4924;
  border: 1px solid #ee4924;
}

.volunteer-button:hover,
.volunteer-button:active,
.volunteer-button:focus {
  color: #fff;
  background-color: var(--primary) !important;
  border-color: var(--primary) !important;
  box-shadow: 0 0 0 0.2rem #f58d76 !important;
}

.core-team {
  position: absolute;
  margin-left: 680px;
}

.our-suppoters {
  margin-left: 250px;
}

.Meraki-section-title {
  background: #ffffff;
  border: none;
  margin-top: 100px;
  margin-right: 10px;
  font-size: 20px;
  color: rgb(150, 146, 153);
}

.Meraki-section-title:focus {
  color: rgb(23, 3, 43);
}

hr.hr-line {
  display: none;
}

.team-img {
  width: 20%;
}

.core-team-underliner {
  border: 0.5px solid #f05f40;
  background-color: #f05f40;
  width: 60px;
}

.card-details {
  position: relative;
  border: none;
  padding: 52px;
  width: 250px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  align-items: center;
}

.card-img {
  border-radius: 50%;
}

.hide {
  display: none;
}

.card-details:hover > .hide {
  display: block;
  position: absolute;
  top: 10%;
  right: 75%;
  box-shadow: 0px 4px 5px rgba(46, 46, 46, 0.06),
    0px 1px 10px rgba(46, 46, 46, 0.04), 0px 2px 4px rgba(46, 46, 46, 0.08);
  border-radius: 10px 0 10px 10px;
  background-color: #fff;
  padding: 5px 0 15px 25px;
  font-size: 14px;
  width: 300px;
  margin: 16px;
  text-align: left;
  z-index: 9;
  border: 2px solid var(--primary);
  box-sizing: border-box;
}
.all-members-btns {
  margin: 20px 0;
}
.members-selector {
  cursor: pointer;
  font-size: 20px;
  border: 2px solid transparent;
  transition: all ease-in-out 0.2s;
}
.active {
  border-bottom: 2px solid #f05f40;
  background-color: #f05f40;
  width: 60px;
}
.core-team-members,
.our-supporters {
  margin-inline: 20px;
}
.team-info-card-img {
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.team-info-card-title {
  font-size: 18px;
  line-height: 28px;
  font-weight: bold;
  margin-top: 12px;
  margin-bottom: 10px;
}

.team-info-card-designation {
  font-size: 16px;
  color: rgb(134, 138, 138);
  line-height: 1.5;
  max-width: 220px;
  margin-left: 15px;
}

.core-team {
  position: absolute;
  margin-left: 680px;
}

.our-suppoters {
  margin-left: 250px;
}

.team-info-cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
@media screen and (max-width: 650px) {
  .team-page-content {
    width: 80% !important;
  }
  .team-button-container {
    flex-direction: column;
  }
  .card-details:hover > .hide {
    top: 100%;
    right: 0%;
    left: 50%;
    padding: 5px 0 15px 25px;
    width: 300px;
    margin: 16px;
    border-radius: 10px;
    transform: translate(-50%,-50%);
  }
}
