[class^="number-slide"],
[class*=" number-slide"] {
  background: transparent;
  /* display: flex; */
 
  align-items: center;
  /* justify-content: center; */
  color: black;
  font-weight: 500;
  min-height: 200px;
  max-height: 100vh;
}
.media-slider p {
  font-family: Roboto, sans-serif !important;
  font-size: 1.5rem;
}
.media-slider a:hover {
  text-decoration: none;
}
.navigation-wrapper {
  position: relative;
  background-color: transparent;
}
.carousal-content {
  padding-left: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 50px;
  margin-top: 0px;
  padding-top: 55px;
  
}
.navigation-wrapper p {
  /* width: 100%; */
  /* font-weight: 300; */
  font-style: Light;
  /* padding: 0 20px; */
  font-family: 'Roboto' sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  margin: 0;
}
.carousal-image-container {
  height: 100%;
  /* display: flex; */
  /* margin-left: 100px;
  margin-right: 50px; */
  width: 280px;
  object-fit: contain;
  padding: 10px;
  border-radius: 50%;
}

.carousal-img {
  height: 100%;
  width: 182px;

}

.dots {
  display: flex;
  padding: 32px 0 0 0;
  justify-content: center;
} 

.backgrey {
  background-color:#F5F5F5;
}
.descrip{
  margin: auto;
  padding-top: 20px;
  text-align: left;
}
.dot {
  border: none;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #c5c5c5;
  margin: 0 8px;
  padding: 2px;
  cursor: pointer;
}

.dot:focus {
  outline: none;
}

.dot.active {
  background: rgba(240, 95, 64, 1);
}

.arrow {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  fill: grey;
  cursor: pointer;
}

.arrow--left {
  /* left: 0px; */
  right: 95%;
}

.arrow--right {
  left: 96%;
  right: -8px;
}

.arrow--disabled {
  fill: grey;
}
@media screen and (max-width: 900px) {
  .carousal-content {
    padding: 0 50px;
  }
  .arrow--left {
    left: 0px;
  }
  .arrow--right {
    left: auto;
    right: 0px;
  }
  .carousal-image-container {
    margin: 0;
  }
}
@media screen and (max-width: 900px) {
  .carousal-content {
    padding: 0 30px;
    flex-direction: column;
  }
  .arrow--left {
    left: 0px;
  }
  .arrow--right {
    left: auto;
    right: 0px;
  }
}
@media screen and (max-width: 500px) {
  .carousal-content {
    padding: 0 30px;
    flex-direction: column;
  }
  .arrow--left {
    left: -19px;
  }
  .arrow--right {
    left: auto;
    right: 10px;
  }
}
