.boder-box{
    margin: auto;
    width: Fixed (736px)px;
    height: Hug (281px)px;
}

.ProgrammeTitle {
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    position: relative;
    bottom: 32px;
    gap:16px;
}

.place-name {
    font-family: Lato;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: left;

}

.address {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
}

.address-subtitle {
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
}
.instagram-img{
    margin-top: 16px;
   
}