
.text-center {
  text-align: center;
}


.img-fluid {
  width: auto; 
  height:48px;
  margin-bottom: 10px;
}

.para{
  height: 95px;
}
.linkcolor {
  color: #EB5F42; 
  text-decoration: none; 
}

.linkcolor:hover {
  text-decoration: none;
  color: #D45537; 
}




