/* Ensures consistent spacing around the container */
/* .container {
  padding-top: 20px;
  padding-bottom: 20px;
} */

/* Centers the content within each column */
.text-center {
  text-align: center;
}

/* Ensures images are responsive and don't exceed a certain width */
.img-fluid {
  width: auto; 
  height:48px;
  margin-bottom: 10px;
}

.para{
  height: 75px;
}
.linkcolor {
  color: #EB5F42; 
  text-decoration: none; 
}

.linkcolor:hover {
  text-decoration: none;
  color: #D45537; 
}




