.partners-carousal-cards {
  /* padding: 0 200px; */
  display: flex;
}

.partition-carousal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding-inline: 60px;
  padding-right: 40px; */
  text-align: center;
  
}
.partition-carousal-content-name{
  text-align: left;
  justify-items: left;
  

  
}
.partition-carousal-content-img {
  height: 100px;
  width: 90px;
  margin-top: 30px;
  object-fit: scale-down;

} 
.partners-carousal-arrow--left {
  left: -5%;
}


.Card-dotted{
  background-color:rgb(253, 243, 240) ;
  border-radius: 40px;
}

.partners-carousal-arrow--right {
  left: auto;
  right: -5%;
}
.partition-carousal-content span {

  padding: 5px;
  font-size: 20px;
}
@media screen and (max-width: 1000px) {
  .partner-slider .carousal-content {
    padding: 0 50px;
  }
  .partner-slider .arrow--left {
    left: 20px;
  }
  .partner-slider .arrow--right {
    left: auto;
    right: 40px;
  }
  .carousal-image-container {
    margin-bottom: 1rem;
  }
}
@media screen and (max-width: 500px) {
  .media-slider p {
    font-family: 'Roboto', sans-serif;
    font-size: 0.875rem;
    line-height: 20px;
  }
  .slider .arrow{
    height: 15px;
    width: 15px;
  }
  .partition-carousal-content {
    padding-inline: 20px;
  }
  .partners-carousal-arrow--left {
    left: 5px;
  }
  .partners-carousal-arrow--right {
    left: auto;
    right: 5px;
  }
  .partition-carousal-content p {
    padding-top: 5px;
  }
}
