.footer-container {
  background-color: #FBDFD9;
  padding: 40px 0;
  color: #333;
  height: 100%;
  font-size: 14px !important;

}

.selected .socialmedia-icon {
  fill: white;
}

.selected rect {
  fill: var(--primary);
  stroke: var(--primary);
}

.social-icons div {
  cursor: pointer;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: auto;
  max-width: 1120px;
  flex-wrap: wrap;
  gap: 16px;
}

.footer-contetnt-wrappper {
  gap: 60px;
  display: flex;
  border-bottom: 1px solid #949494;
}

.footer-content>.footer-section {
  flex: 1;
  min-width: 0;
}

.footer-brand {
  flex: 1 1 calc(16.66% - 16px);
  text-align: left;
}

.footer-logo {
  max-width: 100px;
  margin-bottom: 20px;
}

.social-icons {
  margin: 10px 0;
}

.social-icons a {
  margin-right: 10px;
  color: #333;
  font-size: 20px;
  text-decoration: none;
}

.footer-section h6 {
  margin-bottom: 20px;
  font-size: 14px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
  font-size: 14px;
}

.footer-section ul li a {
  color: #333;
  white-space: nowrap;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: none;
  color: var(--primary);
}

.row-title {
  color: #2E2E2E;
}

.footer-container .row-title:hover {
  color: var(--primary);
}


.footer-brand p {
  margin: 0;
  font-size: 14px;
  line-height: 1.5;
}

.footer-brand a {
  color: #e63946;
  text-decoration: none;
}

.footer-brand a:hover {
  text-decoration: underline;
}

.sub-title {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #2E2E2E;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.svg-background:hover .socialmedia-icon {
  fill: white;
}

.svg-background:hover rect {
  fill: var(--primary);
}

.details>div {
  font-size: 14px;
  color: #333;
}

.details .policy {
  text-decoration: none;
  color: #4A4A4A;
}

.details .policy:hover {
  text-decoration: underline;
}

.details .copyright {
  text-align: right;
}

.footer-container .email:hover {
  text-decoration: none;
  color: #eb835b;
}

@media(max-width:1024px) {
  .footer-contetnt-wrappper {
    gap: 20px;
    flex-wrap: wrap;
    grid-gap: 0;
    margin: 0 20px;
  }
}

@media(max-width:769px) {
  .details {
    padding: 0 20px;
  }

  .footer-contetnt-wrappper {
    align-items: baseline;
    flex-wrap: wrap;

    flex-direction: column;
  }
}

@media (max-width: 1200px) {
  .footer-content {
    flex-wrap: wrap;
  }

  .footer-brand,
  .footer-section {
    flex: 1 1 calc(16.66% - 16px);
  }
}

@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-section {
    margin-bottom: 20px;
  }

  .footer-logo {
    margin: 0 auto 20px;
  }

  .social-icons {
    justify-content: center;
  }
}

/* Default state for .facebook icon */
.facebook .svg-background rect {
  fill: transparent;
  stroke: #F05F40;
}

.facebook .socialmedia-icon {
  fill: #E16749;
}

.facebook:hover .svg-background rect {
  fill: #F05F40;
}

.facebook:hover .socialmedia-icon {
  fill: white;
}

.linkedin:hover .svg-background rect,
.twitter:hover .svg-background rect {
  fill: #F05F40;
}

.linkedin:hover .socialmedia-icon,
.twitter:hover .socialmedia-icon {
  fill: white;
}
@media (max-width: 768px) {
  .ngfooter-logo {
    width: 150px; 
  }
}