.footer-container {
  background-color: #fcdfd9;
  width: 100%;
  height: 100%;
  /* font-size: 14px; */
}

.inner-container {
  margin: 0 170px;
}

.ng-logo {
  padding-top: 40px;
}

.title-container {
  padding: 30px 0 35px 0;
}

.merakilogo {
  position: absolute;
}
.footer-container ul {
  padding: 0;
  /* width */
}
.merakilearn {
  position: absolute;
  padding: 2px 0 0 35px;
}

ul.nav-footer {
  list-style: none;
}

.nav-footer li {
  margin-bottom: 10px;
  /* width: 30px; */
}

.footer-container a {
  color: #2e2e2e;
}

.footer-container .row-title {
  font-weight: 600;
  color: #2e2e2e;
}

.footer-container .row-title:hover {
  text-decoration: none;
  color: #2e2e2e;
}

/* .sub-row-title {
    font-weight: 400;
    color: #2E2E2E;
} */

.footer-container .sub-row-title:hover {
  text-decoration: none;
  color: #2e2e2e;
}

.footer-container .col-md-3 .row-sub-title {
  padding: 12px 120px 0 120px;
}

.footer-container .playstore-logo {
  position: absolute;
  padding-top: 40px;
  padding-left: 3px;
}

.footer-container .playstore {
  position: absolute;
  margin: 42px 0 0 25px;
  font-weight: 400;
  color: #2e2e2e;
}

.footer-container .footer-divider {
  border: 1px solid #2e2e2e;
  background-color: #2e2e2e;
}
.footer-container .copyright {
  margin-bottom: 10px;
}
.footer-details {
  color: #2e2e2e;
  letter-spacing: 0.3px;
  text-align: center;
  padding-top: 10px;
}
/* .footer-details p {
  margin: 0;
} */
.footer-container .title {
  font-weight: 600;
  line-height: 20px;
}

.footer-container .sub-title {
  font-weight: 400;
  line-height: 20px;
}

.footer-container .details {
  display: flex;
  padding-top: 32px;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
}

.footer-container .social-media {
  display: flex;
  margin-bottom: 10px;
  /* padding-left: 1195px; */
  /* margin-block: 30px; */
}

.footer-container .facebook {
  margin-right: 17px;
}
.socialmedia-icon {
  cursor: pointer;
  transition: all ease 2s;
}
.footer-container .socialmedia-icon:hover .svg-background {
  fill: #ffffff;
}
.footer-container .linkedin {
  margin-right: 17px;
}

.footer-container .policy {
  display: flex;
  margin-bottom: 10px;
  /* position: absolute; */
  /* align-items: center; */
}

.footer-container .hiring {
  margin-left: 20px;
}

.footer-container .navgurukul {
  position: absolute;
  margin-left: 600px;
}

.footer-container .email {
  color: #eb835b;
}

.footer-container .email:hover {
  text-decoration: none;
  color: #eb835b;
}

@media screen and (max-width: 667px) {
  .footer-container {
    height: 100%;
  }
  .inner-container {
    margin: 0 20px;
  }
  .title-container {
    margin-bottom: 43px;
  }
  .nav-footer{
    margin-bottom: 2rem;
  }
  .details {
    padding: 10px 0;
    flex-direction: column-reverse;
    justify-content: flex-start;
    align-items: flex-end !important;
  }
  .navgurukul {
    /* position: absolute; */
    padding-top: 250px;
  }
  .footer-details {
    padding: 0px;
    text-align: left;
  }
  /* .title {
    font-size: 14px;
  } */
}
