.social-icon-in {
    width: 32px;
    height: 32px;
    padding: 8px 8.8px;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    border: 1px solid var(--Light-Primary-Flame, #EB5F42);
}

.alumnus-container {
    margin-top: 32px;
    margin-bottom: 20px;
}
.mt {
    margin-top: 32px;
}