.vertical-line {
    border-left: 2px solid #000;
    height: 80%;
}

.btnwidth {
    width: "360px"
}

.logo-scroller {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.logo-track {
    display: flex;
    gap: 20px;
    animation: scroll-left 20s linear infinite;
    width: max-content;
}

.logo-item {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}


.logo-img1 {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    display: block;
}



.logo-img {
    max-width: 65%;
    height: auto;
    object-fit: contain;
    display: block;
}
 

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

@media (max-width: 1200px) {
    .logo-item {
        flex: 0 0 auto;
    }
}

@media (max-width: 992px) {
    .logo-img1 {
        max-width: 50%;
    }

 
}

@media (max-width: 768px) {
    .logo-img {
        max-width: 60%;
    }

  
}

@media (max-width: 576px) {
    .logo-img {
        max-width: 80%;
    }
}


@media (max-width: 768px) {
    .regular-btn {
        margin-right: 0 !important;
        margin-bottom: 0.5rem;
    }
}


@media (min-width: 1000px) and (max-width: 1229px) {
    .btn-spacing {
        margin-right: 10rem;
    }
}

/* Custom styles for medium (md) screens */
@media (min-width: 768px) and (max-width: 999px) {
    .d-flex.flex-column.flex-lg-row {
        flex-direction: column;
        align-items: center;
    }

    .d-flex.flex-column.flex-lg-row>button {
        width: 100%;
        max-width: 300px;
        margin-bottom: 1rem;
        padding: 0.75rem 1.5rem;
    }

    .d-flex.flex-column.flex-lg-row>button:last-child {
        margin-bottom: 0;
    }
}