
.campus-title-design{
    display: flex;
    margin-right: 8px;
    margin-bottom: 8px;   
}
.campus-card{
    cursor:  pointer !important;
}
.partners-data .section-head{
   font-family: 'Lusitana', serif;
}
.cmapus-fontfamily{
    font-family: 'Lato', sans-serif;;
}
.chip-status{
    border-radius: 10px;
    font-size: 14px;
    font-weight: 400;
    background-color:#FFC107;
    padding: 6px 12px;
    width: 150px;
    height: 30px;
    /* margin: 10px; */
}

.scl-chip{
    border-radius: 100px;
    font-size: 14px;
    font-weight: 400;
    background-color:#FBDFD9;
    padding: 6px 12px;
    width: fit-content;
    /* margin: 10px; */
    margin-right: 10px; /* Adjust the horizontal gap between chips */
    margin-bottom: 10px;
    row-gap: 20px;
}
.campus-design{
    margin-top: auto;
    flex-wrap: wrap;
    display: flex;
}

  
