/* .bg-img-container {
    width: 100%;
    height: 480px;
    top: 80px;
    gap: 0px;
    opacity: 0px;
}

.container {
    position: relative;
    bottom: 30px;
}

.centered {
    position: absolute;
    width: Fixed (448px)px;
    height: Hug (125px)px;
    top: 355px;
    left: 230px;
    color: white;
}

.software-engineering-course {
    font-size: 20px;
    font-weight: 400;
    line-height: 27px;
}

.software-engineering-course-title{
    font-size: 42px;
    font-weight: 700;
    line-height: 54.6px;
    text-align: left;
}

.eligibility-list {
    font-size: 20px;
    border: "1px solid red";
    margin: 15px;
}

.Programme-Locations {
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    margin: 30px;

}

.instagram-icon {
    margin-top: 15px;
    margin: 10px;
}

.btn-dark {
    width: Hug (92px)px;
    height: Hug (43px)px;
    padding: 8px 16px 8px 16px;
    gap: 8px;
    border-radius: 8px 8px 8px 8px;
    opacity: 0px;

}
.title-text{
    font-size: 30px;
    position: relative;
    bottom: 10px;    
} */

/* 
.software-engineering-course-title{
    
} */
/* 
.section-containe {
    width: Fixed (1, 120px)px;
    top: 40px;
    left: 160px;
    gap: 80px;
    opacity: 0px;
    border: 1px solid red;
}

.eligibility-section-one {
    border: 1px solid red;
    width: Fixed (736px)px;
    height: Hug (296px)px;
    gap: 32px;
    opacity: 0px;
    margin: auto;
}

.programme-audience-heading {
    gap: 32px;
    opacity: 0px;
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.eligibility-section-second {
    width: Fixed (736px)px;
    height: Hug (377px)px;
    gap: 32px;
    opacity: 0px;
    border: 1px solid red;
    margin: auto;
}
 */



/* 
.eligibility-section-second {
    width: Fixed (736px)px;
    height: Hug (377px)px;
    gap: 32px;
    opacity: 0px;
} */

/* 
.title-text {
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.programme-audience-heading{
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;

}

.eligibility-list {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;
    border: 1px solid red;
}

.eligibility-info-container {
    width: Fixed (736px)px;
    height: Hug (296px)px;
    gap: 32px;
    opacity: 0px;
    margin: auto;
}

.campus-location-container {
    width: Fixed (1, 116px)px;
    height: Hug (1, 043px)px;
    gap: 32px;
    opacity: 0px;
    border: 1px solid red;

}

.section-containe {
    width: Fixed (736px)px;
    height: Hug (377px)px;
    gap: 32px;
    opacity: 0px;
    border: 1px solid red;

} */


/* 
.row{
  margin-top: 80px;
}
.section-content-one {
    width: Fixed (736px)px;
    height: Hug (296px)px;
    gap: 32px;
    opacity: 0px;
    border: 1px solid red;
    margin: auto;
}

.programme-audience-heading {
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
}

.section-content-second {
    width: Fixed (736px)px;
    height: Hug (377px)px;
    opacity: 0px;
    border: 1px solid red;
    margin: auto;
} */

/* 
.bg-image1 {
    background: url("./assets/bgimg.png");
    background-repeat: no-repeat;
    width: 100%;
    border-radius: 18px;
    height: 330px;
    background-position: center;
    background-size: 100% 100%;
} */