.container-card-1 {
    padding: 16px;
    gap: 16px;
    margin-bottom: 16px;
    background: #FBDFD9;
    border-radius: 8px 8px 8px 8px;
}

.subtitle {
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    /* text-align: left; */
    gap: 16px;

}

.subtitle-prag {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: left;

}

.eligibility {
    font-family: Lato;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    /* text-align: left; */

}

.container-card-2 {
    padding: 16px;
    border-radius: 8px 8px 8px 8px;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
}

.title-class {
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: left;
}

.eligibility-condidates {
    font-family: Lato;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    /* text-align: left; */

}

.stage-area {
    /* width: Hug (92px)px; */
    /* height: Hug (43px)px; */
    padding: 8px 16px 8px 16px;
    border-radius: 8px;
    opacity: 0px;
    font-family: Lato;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-align: center;
}

.stage-container {
    margin-bottom: 16px;
}

.admission-title {
    font-family: Lato;
    font-size: 32px;
    font-weight: 700;
    line-height: 48px;
    text-align: center;
    margin-bottom: 32px;

}